# Nuxt dev/build outputs
.output
.cursor
.vscode
.data
.nuxt/
.nitro
.cache/
dist/
.cursor
build.sh

# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Misc
.DS_Store
Thumbs.db
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Fichiers de cache
.cache/
.temp/

# Dossier de sauvegarde des configurations
.config-backup/

# Autres fichiers à ignorer
node_modules
.nuxt
.output
.DS_Store
.env
.env.*
!.env.example